<% include _layouts/header %>

<% if (typeof cart !== "undefined") { %>

<h1 class="page-title">My Cart</h1>
<br><br>

<table class="table table-striped alignmiddle">
    
    <tr>
        <th>Image</th>
        <th>Title</th>
        <th>Price</th>
        <th>Quantity</th>
        <th></th>
        <th>Subtotal</th>
    </tr>
    
    <% var total = 0; %>
    <% cart.forEach(function(dish){ %>
    <% var sub = parseFloat(dish.qty * dish.price).toFixed(2) %>
    <% total += +sub %>
    <tr>
        <td><img class="cpi" src="<%= dish.image %>" alt=""></td>
        <td><%= dish.title %></td>
        <td>₹<%= dish.price %></td>
        <td><%=  dish.qty %></td>
        <td>
            <a href="/cart/update/<%= dish.title %>?action=add">+</a>&nbsp;
            <a href="/cart/update/<%= dish.title %>?action=remove">-</a>&nbsp;
            <a href="/cart/update/<%= dish.title %>?action=clear">Clear</a>&nbsp;
        </td>
        <td>₹<%= sub %></td>
    </tr>
    <% }); %>
    <tr>
        <td colspan="6" align="right"><b>Total: </b> ₹<%= parseFloat(total).toFixed(2) %></td>
    </tr>
    <tr>
        <td colspan="5" align="right">
            <a class="clearcart btn btn-danger" href="/cart/clear">Clear cart</a>
        </td>
        <td colspan="5" align="right">
            <a class="btn btn-primary ordernow" href="/cart/ordernow">Order now</a>
        </td>
    </tr>
    
</table>



<% } else {%>
<h3 class="text-center">Your cart is empty.</h3>
<% } %>

<script>
    
$(function() {
   
    $('a.clearcart').on('click', function () {
        if (!confirm('Confirm clear cart'))
            return false;
    });
    
  
});
    
</script>

<% include _layouts/footer %>